$main: #9d74f5;
$main-dark: rgba(
  $color: #9d74f5,
  $alpha: 0.1,
);
$black: #000;
$black-1: #0e1113;
$black-2: #171a1d;
$black-3: #111416;
$border-color: #23272a;
$white: #fff;
$gray: #666c70;
$green: #4ed738;
$gold: #d7aa38;
